//Mobile
.menu_mobile_header_wrap{
    img{
        filter: brightness(0) invert(1);
    }
}
//panel
.sc_layouts_panel_close.trx_addons_button_close{
    background-color:#ea643f !important ;
    color: white !important;
}